<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Social media meta tags -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css"> -->
    <%- css('css/styles') %>
    <%- css('css/highlight') %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:800' rel='stylesheet' type='text/css'>
    <%- css('css/font-face') %>
    <!-- <link rel="stylesheet" type="text/css" href="../source/css/font-face.css"> -->
    <% if (config.highlight.enable){ %>
      <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
    <% } %>    
    <title>Raphael D. Pinheiro</title>
  </head>
  <body>
    <nav>
      <%- image_tag(gravatar('raphaklaus@gmail.com', 150), {class: 'avatar'}) %>
      <video autobuffer autoplay autoloop loop nocontrols>
          <source src="/media/cssbackground.mp4" type="video/mp4"> 
      </video>
      <h2 class="my-name">Raphael D. Pinheiro</h2>
      <small class="position">Software Developer</small>
      <a href="" title="">
        <span class="hamburguer">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </span>
      </a>
      <ul class="menu">
        <li><a href="" title="">Sobre</a></li>
        <li><a href="" title="">Artigos</a></li>
        <li><a href="" title="">Projetos</a></li>
      </ul>
    </nav>    
    <%- body %>
    <%- partial('_partial/after-footer') %>
  </body>
</html>