<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Social media meta tags -->
    <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
    <%- css('css/styles') %>
    <%- css('css/highlight') %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300">
    <%- css('css/font-face') %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>
    <% if (config.highlight.enable){ %>
      <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
    <% } %>
    <%- partial('_partial/google-analytics') %>
    <%
      var title = page.title;
      
      if (is_archive()){
        title = __('archive_a');

        if (is_month()){
          title += ': ' + page.year + '/' + page.month;
        } else if (is_year()){
          title += ': ' + page.year;
        }
      } else if (is_category()){
        title = __('category') + ': ' + page.category;
      } else if (is_tag()){
        title = __('tag') + ': ' + page.tag;
      }
    %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>

  </head>
  <body>
    <nav>
      <video autobuffer autoplay autoloop loop nocontrols>
          <source src="/media/cssbackground.mp4" type="video/mp4"> 
      </video>
        <%- image_tag(gravatar('raphaklaus@gmail.com', 150), {class: 'avatar'}) %>
        <div class="header-info">
          <a href="/">
            <h2 class="my-name">
                Raphael D. Pinheiro
            </h2>
          </a>
          <a href="#" class="hamburguer" onclick="toggleMenu()">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </a>
        </div>
        <small class="position">Software Developer</small>
      <ul class="menu invisible">
        <li><a href="/" title="">Sobre</a></li>
        <li><a href="/artigos" title="">Artigos</a></li>
        <li><a href="/projetos" title="">Projetos</a></li>
      </ul>
    </nav>    
    <%- body %>
    <%- partial('_partial/after-footer') %>
  </body>
</html>