<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class="article-meta">
  </div>
  <div class="article-inner">
    <% if (post.link || post.title){ %>
      <header class="article-header">
          <%- partial('post/title', {class_name: 'article-title'}) %>
          <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
      </header>
    <% } %>
    <div class="article-entry" itemprop="articleBody">
        <%- post.content %>
    </div>
    <footer class="article-footer">  
    </footer>
  </div>
</article>

<% if (!index && post.article && post.comments && config.disqus_shortname){ %>
<div id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</div>
<% } %>